format = """
$python\
[󰣇 ](fg:blue)\
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$cmd_duration\
$line_break\
$character"""

# Inserts a blank line between shell prompts
add_newline = false

# Replace the '❯' symbol in the prompt with '➜'
[character] # The name of the module we are configuring is 'character'
success_symbol = '[➜](bold green)' # The 'success_symbol' segment is being set to '➜' with the color 'bold green'
error_symbol = '[➜](bold red)'
vimcmd_symbol = '[➜](bold green)'

[directory]
style = "red"

[line_break]
disabled = true

[python]
format = "[(\\($virtualenv\\) )]($style)"
style = "cyan"

[username]
style_user = "bold green"
style_root = "bold red"

format = "[$user]($style)"
disabled = false
show_always = true

[hostname]
ssh_only = false
format = "@[$hostname ](bold yellow)"
disabled = false

[git_branch]
format = "[$branch]($style)"
style = "purple"

